@import "tailwindcss";

.loading-dots::after {
  content: "...";
  animation: dots 3.5s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: ""; }
  30% { content: "."; }
  63% { content: ".."; }
  100% { content: "..."; }
}

@keyframes badgePulse {
  0% { transform: scale(1); background-color: #f00; }
  50% { transform: scale(1.4); background-color: #ff6666; }
  100% { transform: scale(1); background-color: #f00; }
}

.animate-badge {
  animation: badgePulse 1s ease-in-out;
}

