@import "tailwindcss";

.loading-dots::after {
  content: "...";
  animation: dots 3.5s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: ""; }
  30% { content: "."; }
  63% { content: ".."; }
  100% { content: "..."; }
}
